#man {
  width: 100vh;
  height: 100vh;
  list-style: none;
  border-radius: 50%;
  background: radial-gradient(#17aacf, #1de749, #bfff0e);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vh;
  /* top: -150px;
  left: -300px; */
  box-shadow: 0px 0px 20px indigo;
}

#man li {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 0;
  font-size: 20px;
  transform-origin: center left;
}

#btnYes {
  position: absolute;
  display: block;
  right: 5%;
  top: 50%;
  width: 70px;
  height: 30px;
  background-color: rgb(0, 255, 213);
  text-align: center;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

#img1 {
  position: absolute;
  width: 260px;
  height: 40px;
  top: 50vh;
  left: 50vw;
  margin-top: -44px;
}

#img2 {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50vw;
  top: 50vh;
  margin: -80px 0 0 -80px;
  border-radius: 50%;
  animation: img3move 1s infinite linear;
  transform-origin: center center;
}

@keyframes img3move {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 1599px) {
  #man li {
    font-size: 24px;
    width: 340px;
  }
  #img1 {
      margin-top: -48px;
  }
}